{% extends 'base.html' %}

{% block extrahead %}
<style>
    #map {
        width: 600px;
        height: 450px;
        border: 1px solid black;
    }
</style>
{% endblock %}

{% block extrajs %}
<script src="http://openlayers.org/dev/OpenLayers.js"></script>
<script>
    $(document).ready(function(){
        //window.mapping.init();
        window.charts.plot_test();
        /*showAttributes = function(response){
            alert("hola " + response.responseText);
            for (var key in response){
                alert(key + ":" + response[key]);
            }
        };

        showAttributesError = function(response){
            alert("error " + response.responseText);
        };*/
    });
</script>
{% endblock %}

{% block content %}
<div id="map"></div>
<div id="wrapper">
    <div id="location"></div>
    <div id="scale">
    </div>
</div>
<!--<div id="attribute_table" style="display: none">-->
<div id="chartdiv" style="height:400px;width:300px; "></div>
</div>
{% endblock %}
