{% extends 'base.html' %}

{% block extracss %}
<style>
    #map {
        width: 600px;
        height: 450px;
        border: 1px solid black;
    }
</style>
{% endblock %}

{% block extrajs %}
<script src="http://openlayers.org/dev/OpenLayers.js"></script>
<script>
    $(document).ready(function(){
        var map = new OpenLayers.Map('map');

        capa1 = new OpenLayers.Layer.WMS(
                "General",
                "http://localhost:8080/geoserver/wms",
                {
                    layers: 'microzonas:Microzonas_Amenaza_General'
                }
        );
        capa2 = new OpenLayers.Layer.WMS(
                "Laderas",
                "http://localhost:8080/geoserver/wms",
                {
                    layers: 'microzonas:Microzonas_Laderas'
                }
        );
        capa3 = new OpenLayers.Layer.WMS(
                "Sedimentos",
                "http://localhost:8080/geoserver/wms",
                {
                    layers: 'microzonas:Microzonas_Sedimentos'
                }
        );

        //map.addLayer(capa1);
        map.addLayer(capa2);
        map.addLayer(capa3);
        map.zoomToMaxExtent()
    });
</script>
{% endblock %}

{% block content %}
<div id="map"></div>
{% endblock %}