{% extends 'base.html' %}

{% block extracss %}
<style>
    #map {
        width: 600px;
        height: 450px;
        border: 1px solid black;
    }
</style>
{% endblock %}

{% block extrajs %}
<script src="http://openlayers.org/dev/OpenLayers.js"></script>
<script>
    $(document).ready(function(){
        var map = new OpenLayers.Map('map');

        var wms_3 = new OpenLayers.Layer.WMS( "Laderas",
                "http://localhost:8080/geoserver/wms",
                {layers: 'microzonas:Microzonas_Laderas', format: "image/png"},
                {isBaseLayer: false});


        var wms_2 = new OpenLayers.Layer.WMS( "Sedimentos",
                "http://localhost:8080/geoserver/wms",
                {layers: 'microzonas:Microzonas_Sedimentos',  format: "image/png"},
                {isBaseLayer: false});

        var wms_1 = new OpenLayers.Layer.WMS( "Amenaza General",
                "http://localhost:8080/geoserver/wms",
                {layers: 'microzonas:Microzonas_Amenaza_General',  format: "image/png"}
        );

        map.addLayers([wms_1, wms_2, wms_3]);
        //map.addLayer(wms_1);
        map.addControl(new OpenLayers.Control.LayerSwitcher());
        map.zoomToMaxExtent();
    });
</script>
{% endblock %}

{% block content %}
<div id="map"></div>
{% endblock %}
