<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{ STATIC_URL }}js/excanvas.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="{ STATIC_URL }}js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{ STATIC_URL }}css/jquery.jqplot.css" />
</head>
<body>
Hola mundo!
</body>
</html>